:root {
    --ph: 28;
    --ps: 77%;
    --pl: 56%;
    --theme-color: hsl(var(--ph), var(--ps), var(--pl));
    --theme-darken: hsl(var(--ph), var(--ps), calc(var(--pl) - 5%));
    --theme-light: hsl(var(--ph), var(--ps), calc(var(--pl) + 45%));

    --secondary-color: var(--bs-secondary-color);
    --light-color: var(--bs-border-color);
    --white-color: var(--bs-card-bg);
    --black-color: var(--bs-body-color);
    --bg-color: var(--bs-body-bg);
    --success-color: #28c76f;
    --warning-color: #F7CC00;
    --danger-color: #ea5455;
    --purple-color: #5014BA;
    --blue-color: #2E59D7;
}

$success-color: #28c76f;
$warning-color: #F7CC00;
$danger-color: #ea5455;
$purple-color: #5014BA;
$blue-color: #2E59D7;
$primary-color: #3498db;

[data-bs-theme="dark"] {
    .navbar-brand, .brand-link {
        img {
            filter: brightness(0) invert(1);
        }
    }
    .authentication{
        .logo{
            img{
                filter: brightness(0) invert(1);
            }
        }
    }
}

// Box shadow
$common-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
